html
	font-size: 4px // Base unit for every space
	margin: 0
	font-family: Helvetica
	color: var(--dark)
	background-color: var(--gray)
	scroll-snap-type: y mandatory
	ms-scroll-snap-type: y mandatory

#svelte > *
	scroll-snap-align: start

@media (max-width: 520px)
	html
		font-size: 3.6px

body
	font-size: 4rem
	margin: 0

*
	box-sizing: border-box
	line-height: 1.4em

p
	margin: 0

button
	height: 14rem
	padding: 0 5rem
	border-radius: var(--radius)
	border: none
	outline: none
	cursor: pointer
	background-color: var(--dark)
	color: var(--white)
	position: relative
	display: flex
	gap: 2rem
	align-items: center
	font-size: 4rem
	white-space: nowrap

	&:active
		top: 1px
	
	&.tag
		height: 10rem
		padding: 0 4rem
		font-size: 3.5rem

	&.small
		height: 10rem
		padding: 0 4rem
		font-size: 3.5rem


a
	text-decoration: none
	color: var(--primary)

.bold
	font-weight: bold

input, select, textarea, .svelect
	border: 1px solid var(--gray-2)
	border-radius: 0
	background: var(--white)
	height: 40px
	outline: none
	padding: 0 2rem
	letter-spacing: 0.3px
	color: var(--gray-3)
	font-size: 3.5rem

	&:focus
		border-color: var(--gray-4)
	
	&::placeholder
		color: var(--gray-2)

label
	color: var(--gray-5)
	font-size: 3rem
	margin-bottom: 0.5rem
	margin-left: 2rem

textarea
	font-family: inherit
	padding: 2rem
	height: auto