.primary { color: var(--primary); }
.secondary { color: var(--secondary); }
/* .tertiary { color: var(--tertiary); } */
.black { color: var(--black); }
.white { color: var(--white); }
.gray { color: var(--gray); }
.dark { color: var(--gray); }
.gray-2 { color: var(--gray-2); }
.gray-3 { color: var(--gray-3); }
.gray-4 { color: var(--gray-4); }

.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-tertiary { background-color: var(--tertiary); }
.bg-black { background-color: var(--black); }
.bg-dark { background-color: var(--dark); }
.bg-white { background-color: var(--white); }
.bg-gray { background-color: var(--gray); }
.bg-gray-2 { background-color: var(--gray-2); }
.bg-gray-3 { background-color: var(--gray-3); }
.bg-gray-4 { background-color: var(--gray-4); }

.border-primary { border-color: var(--primary); }
.border-secondary { border-color: var(--secondary); }
.border-tertiary { border-color: var(--tertiary); }
.border-black { border-color: var(--black); }
.border-dark { border-color: var(--dark); }
.border-white { border-color: var(--white); }
.border-gray { border-color: var(--gray); }
.border-gray-2 { border-color: var(--gray-2); }
.border-gray-3 { border-color: var(--gray-3); }
.border-gray-4 { border-color: var(--gray-4); }
