/* we flexify main block elements  */
article,
aside,
div,
form,
li,
main,
nav,
section,
.column {
	display: flex;
	flex-direction: column;
}
header, footer, .row {
	display: flex;
	flex-direction: row;
}
.reverse {
	display: flex;
	flex-direction: column-reverse;
}
.row.reverse {
	flex-direction: row-reverse;
}
.grow {
	flex-grow: 1;
}
.shrink {
	flex-shrink: 1;
}
:not(.row) > .fill {
	width: 100%;
}
.row > .fill {
	height: 100%;
}

.wrap {
	flex-wrap: wrap;
}
.wrap-reverse {
	flex-wrap: wrap-reverse;
}
.center {
	justify-content: center;
	place-items: center;
}


/* POSITION */
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
	top: 0;
	left: 0;
}
.relative {
	position: relative;
}

/* DISPLAY */
.grid {
	display: grid;
}
.hidden {
	display: none;
}
